<%- include("partials/header.ejs") %>

<div class="row p-4 pb-0 pe-lg-0 pt-lg-4 align-items-center rounded-3 shadow-lg bg-transparent" id="main">

    <%- title %>

</div>

<%- include("partials/footer.ejs") %>
