<%- include("partials/header.ejs") %>

<div class="container">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-4 rounded-3 shadow-lg bg-transparent" id="main">
        <!-- Nagłówek -->
        <div class="col-12 d-flex flex-column justify-content-top"> 
            <h1>Time to write your article here... </h1>
            <hr class="w-100 my-2" />
        </div>

        <!-- Formularz w osobnej kolumnie -->
        <div class="col-12">
            <form action="/submitarticle" method="POST" class="d-flex flex-column gap-3">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Your article title:</label>
                    <input name="title" class="form-control" id="exampleFormControlInput1" 
                           placeholder="Must be 8-90 characters long. " minlength="8" maxlength="90" required>
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">
                        Feel free to describe here <strong>whatever</strong> is important! 
                    </label>
                    <textarea name="mainText" class="form-control" id="exampleFormControlTextarea1" rows="3" 
                              placeholder="You don't even have any limitations about your poem!" required style="height: 20rem;"></textarea>
                </div>
                
                <div class="row gy-2 gx-3 align-items-center">
                    <div class="col-md-6">
                        <label class="visually-hidden" for="autoSizingInput">Name</label>
                        <div class="input-group">
                            <div class="input-group-text">@</div>
                            <input name="author" type="text" class="form-control" id="autoSizingInput" 
                                   placeholder="Jane Doe" required>
                        </div>
                    
                    </div>
                    <div class="col-md-6">
                        <label class="visually-hidden" for="autoSizingInputGroup">Username</label>
                        <div class="input-group">
                            <div class="input-group-text">@</div>
                            <input name="nickname" type="text" class="form-control" id="autoSizingInputGroup" 
                                   placeholder="Username" required>
                        </div>
                    </div>
                </div>

                <hr class="w-100 my-4"/>

                <div class="d-flex flex-column align-content-bottom">
                    <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>