html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

header,
footer {
  flex: 0 0 auto;
}

main {
  text-align: center;
  padding: 5vmin;
  flex: 1 0 auto;
}

h1 {
  text-align: center;
}

.nav-link {
  color: black;
}

.nav-link.active {
  background-color: black !important;
}

.nav-link:hover {
  color: rgb(255, 255, 255);
}

#main {
  min-height: 70vh;
}

.titleName {
  border: 1px solid #6c757d;
  height: 6vh;
  width: 60%;
}
.titleName:hover {
  border: 1px solid #6c757d;
}
  

.card-body {
  background-color: white;
}

.card-header {
  background-color: #ced4da;
}

.card-footer {
  background-color: #e7dfd8;
}

